<!--navigation es exclusiva para index-->
<body>
  <link rel="stylesheet" href="/main/main.css">
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" style="font-size: 30px;" href="./">LOGO</a>
    <a href="./result">
      <button type="button" class="btn btn-primary" style="font-size: 20px;">Resultados</button>
    </a>
    
  </nav>
  <br> <br>