<!--navigation2 es exclusivo para los ejercicios-->
<body>
    <nav class="navbar navbar-light bg-light">
        <div class="btn-group">
            <button type="button" class="btn btn-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <svg class="bi bi-justify" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M2 12.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
                  </svg>
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/video">Video</a>
              <a class="dropdown-item" href="/imagenes">Imagenes</a>
              <a class="dropdown-item" href="/audio">Audio</a>
              <a class="dropdown-item" href="/texto">Texto</a>
              <a class="dropdown-item" href="/fisico">Fisico</a>
              <a class="dropdown-item" href="/comida">Comida</a>
              <a class="dropdown-item" href="/olores">Olores</a>
            </div>
          </div>
      <a href="/main" class="navbar-brand" style="font-size: 30px;">LOGO</a>
    </nav>
    <br> 
    