<!--navigation2 es exclusivo para los ejercicios-->
<body>
    <nav class="navbar navbar-light bg-light">
      <a href="/main" class="navbar-brand" style="font-size: 30px;">LOGO</a>
      <a href="javascript:enlaceAleatorio()">
        <button type="submit" class="btn btn-primary">OMITIR</button>
      </a>
    </nav>
    <br> 
    <script type="text/javascript" src="../paginaAleatoria.js"></script>