<!--Elementos que se repiten en la mayoria de las ventanas-->
<%- include('./includes/header.ejs')%> 
<%- include('./includes/navigation.ejs')%><!--navigation exclusiva para index-->
<!---->
<div class="card col-md-5 col-sm-12" style="float: left; height: 15rem; align-items: center;">
    <div class="card-body">
        <div class="card-title">
            <h1>FRASE PRINCIPAL</h1>
        </div>
    </div>
</div>
<div class="card col-md-6 col-sm-12" style="height: 15rem;">
    <div class="card-body">
        <div class="card-title">
            <h1>Imagen</h1>
        </div>
    </div>
</div>
<div class="card col-md-5">
    <div class="card-body btn-lg"  >
        Explicacion breve de lo que trata la pagina
    </div>
</div>
<br><br><br>
<a href="/registro">
    <div class="alert alert-primary" style="font-size: 20px; text-align: center;">
        <b>Iniciar NAME</b> 
    </div>
</a>
</body>