<%- include('./includes/header.ejs')%>
<!--navigation exclusiva para registro-->
<body>
    <link rel="stylesheet" href="/main/main.css">
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" style="font-size: 30px;">LOGO</a>
    </nav>
    <br> <br>
    <!--formulario-->
    <div class="container">
      <div class="card">
        <div class="card-body">
          <form class="needs-validation" action="/registrando" method="POST" novalidate>
            <div class="form-row">

              <div class="col-md-6 mb-3">
                <label>Nombre</label>
                <input type="text" class="form-control" name="nombre" required>
              </div>

              <div class="col-md-6 mb-3">
                <label>Edad</label>
                <input type="text" class="form-control" name="edad" required>
              </div>
            </div>

            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label>Altura</label>
                <input type="text" class="form-control" name="altura" required>
              </div>

              <div class="col-md-4 mb-3">
                <label>Peso</label>
                <input type="text" class="form-control" name="peso" required>
              </div>

              <div class="col-md-4 mb-3">
                <label>Cintura</label>
                <input type="text" class="form-control" name="cintura" required>
              </div>
            </div>
            <div class="row">
              <div class="mx-auto">
                  <button class="btn btn-primary btn-lg" type="submit">Aceptar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  
</body>