<%- include('./includes/header.ejs')%>

<body>
    <div class="container">
        <div class="row">
            <div class="mx-auto">
                <div class="card">
                    <div class="card-body">
                        <label style="font-size: 20rem;"><%=usuario[0].id_usuario%></label>
                        <form action="/main" method="POST" style="margin-left: 8rem; margin-right: auto;">
                            <input type="hidden" name="id" value="<%=usuario[0].id_usuario%>">
                            <button class="btn btn-primary" type="submit">Siguiente</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>