.flex-container {
display: flex;
align-items: center;
text-align: center;
}
.centrar {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.middle {
    vertical-align: middle;
    text-align:center;
    left:10%;
    position:relative;
    display:table-cell;
}

img {
    border-radius: 5%;
    cursor: pointer;
    width: 25vw;
    margin: 3px;
    margin-left: 9px;
    margin-right: 9px;
}
input {
    width: 30px;
    cursor: pointer;
}

.efecto {
    -webkit-transform:scale(1);
}

.efecto:hover {
    -webkit-transform:scale(1.05);
    transform:scale(1.05);
    transition: all 0.2s;
}
.radio:hover {
    -webkit-transform:scale(1.50);
    transform:scale(1.50);
    transition: all 0.2s;
}

.caja { 
    position: relative; 
    height: 100%; 
    width: 100%; 
} 

.texto { 
    position: absolute; 
    color: white; 
    font-size: 5vw;
    font-weight: bold; 
    cursor: pointer;
}

.pregunta{
    margin-bottom: 10px; 
    margin-left: 10%; 
    margin-right: 10%;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.div{
    border: 3px red solid;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    width: min-content;
}