<%- include('../includes/header.ejs')%>
<link rel="stylesheet" href="../css/bootstrap.css"> <!--Libreria de diseño que deberia de estar en header pero no la encuentra al momento de cargar desde alli-->
<%- include('../includes/navigation2.ejs')%>

<div class="col-md-12">
    <h1> Escucha el audio</h1>
</div>

<!--Busqueda de audio-->
<div class="row col-md-7" style=" float:left">
<audio src="/audio/Choices.mp3" controls style="margin-right: auto; margin-left: auto; margin-top: auto; margin-bottom: auto; height: 20rem;" ></audio>
</div>
<!--Chat-->
<div class="row col-md-5" style="float: right;">
    <center><iframe marginwidth="0" marginheight="0" src="http://www.chatsala.com/embebido.php?canal=Fabian&width=400&height=550" width="400" height="550" scrolling="no" frameborder="0"></iframe><br>Webchat ofrecido por: <a href="http://www.chatsala.com/" title="Chat chatsala.com"><strong>Chatsala.com</strong></a></center>
</div>
<br>
<div class="" style="width:45rem; margin-left: auto; margin-right: auto;">
    <a href="/texto">
        <button type="button" class="btn btn-primary" style="font-size: 2rem;">Siguiente</button>
    </a>
</div>