<%- include('../includes/header.ejs')%>
<link rel="stylesheet" href="./css/preferencias.css">
<br>
<body class="centrar" onload='javascript:IniciarVideo()'>
    <div class="container center">
        <video autoplay id='video' style="display: none;"></video>
        <div class="auto-mx pregunta"><h4 style="font-size: 25px;">¿Qué muestra te pareció más dulce?</h4></div>
        <div class="flex-container">
            <div class="efecto" style="width: min-content;" onclick="seleccionar('correcta', 'img1', 'img2')">
                <img id="img1" src="./imagenes/muestra.png">
                <p class="texto center" style="top: 50%">856</p>
            </div>
            <div class="efecto" style="width: min-content;" onclick="seleccionar('incorrecta', 'img2', 'img1')">
                <img id="img2" src="./imagenes/muestra.png">
                <p class="texto center">225</p>
            </div>
        </div>
        <div  style="margin: 15px; align-items: flex-end;">
            <form action="/estimulos" method="POST">
                <div>
                    <input type="hidden" value="<%=video%>" class="name" name="id" id="sujeto">
                    <input type="hidden" value="" class="name" id="muestra">
                    <input type="hidden" id="respuesta">
                </div> 
                <div style="margin-top: 15px;" id="boton" >
                    <button type="button" class="btn btn-primary efecto" style="font-size: 1.5rem; width: 100%" disabled>Siguiente</button>
                </div>
            </form>
        </div>
    </div>
</body>

<script>
    function seleccionar(opcion, a, b){
        var respuesta = document.getElementById('respuesta');
        var boton = document.getElementById('boton');
        let img1=document.getElementById(a);
        let img2=document.getElementById(b);
        img1.style = `box-shadow: 0 0 4px 4px rgb(6, 130, 247);`;
        img2.style = ``;

        respuesta.value = opcion;
        boton.innerHTML = `<button type="submit" class="btn btn-primary efecto" style="font-size: 1.5rem; width: 100%">Siguiente</button>`;
    }
</script>