<%- include('../includes/header.ejs')%>
<%- include('../includes/navigation2.ejs')%>

<div class="col-md-12">
    <h1>Resuelve el ejercicio mientras alguien te pica las constillas</h1>
</div>
<!--ejercicio-->
<div class="row col-md-7" style="float: left;">
   <div class="card">
    <img src="/imagenes/diferenciasPez.jpg" alt="">
   </div>
</div>
<!--Chat-->
<div class="row col-md-5">
    <div class="card">
        <div class="card-body">
            <h4>¿Conseguiste completar el ejercicio?</h4> <br>
            <form action="">
                <div class="form-row">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="" value="option1" checked>
                            <label class="form-check-label" for="exampleRadios1">
                                Si
                            </label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="" value="option2">
                            <label class="form-check-label" for="exampleRadios2">
                            No
                            </label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="" value="option2">
                            <label class="form-check-label" for="exampleRadios2">
                            Talvez
                            </label>
                        </div>
                    </div>
                </div> <br>
                <!--2da pregunta-->
                <h4>Describe en 3 palabras tu experiencia</h4> <br>
                <div class="form-group">
                    <input type="" class="form-control" id="" placeholder="">
                </div> <br>
                <!--3da pregunta-->
                <h4>Selecciona alguna caracteristica que sentiste del ejercicio</h4> <br>
                <select class="form-control form-control-sm">
                    <option>Opcion 1</option>
                    <option>Opcion 2</option>
                    <option>Opcion 3</option>
                </select> <br>
                <div class="container">
                    <div class="row">
                        <div class="mx-auto">
                            <button type="submit" class="btn btn-primary">Enviar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
<div class="row col-md-6" style="width:50rem; margin-left: auto; margin-right: auto;">
    <a href="javascript:enlaceAleatorio()">
        <button type="button" class="btn btn-primary" style="font-size: 2rem;">Siguiente</button>
    </a>
</div>
</body>
