<%- include('../includes/header.ejs')%>
<%- include('../includes/navigation2.ejs')%>

<div class="col-md-12">
    <h1>Resuelve el ejercicio mientras alguien te pica las constillas</h1>
</div>
<!--ejercicio-->
<div class="row col-md-7" style="float: left;">
   <div class="card">
    <img src="/imagenes/diferenciasPez.jpg" alt="">
   </div>
</div>
<!--Chat-->
<div class="row col-md-5">
    <center><iframe marginwidth="0" marginheight="0" src="http://www.chatsala.com/embebido.php?canal=Fabian&width=400&height=550" width="400" height="550" scrolling="no" frameborder="0"></iframe><br>Webchat ofrecido por: <a href="http://www.chatsala.com/" title="Chat chatsala.com"><strong>Chatsala.com</strong></a></center>
</div>
<div class="row col-md-6" style="width:50rem; margin-left: auto; margin-right: auto;">
    <a href="/video">
        <button type="button" class="btn btn-primary" style="font-size: 2rem;">Siguiente</button>
    </a>
</div>
</body>