<%- include('../includes/header.ejs')%>
<link rel="stylesheet" href="../css/bootstrap.css">
<%- include('../includes/navigation2.ejs')%>

<div class="col-md-6">
    <h1> Observa las imagenes</h1>
</div>
<!--Chat-->
<div class=" col-md-4" style="float:right">
    <center><iframe marginwidth="0" marginheight="0" src="http://www.chatsala.com/embebido.php?canal=Fabian&width=400&height=550" width="400" height="550" scrolling="no" frameborder="0"></iframe><br>Webchat ofrecido por: <a href="http://www.chatsala.com/" title="Chat chatsala.com"><strong>Chatsala.com</strong></a></center>
</div>

<!--Imagen-->
<div class="row col-md-7"  >
    <div class="col-md-6">
        <div class="card" style="width: 15rem; height: 15rem;">
            <div class="card-img-top">
                <img src="/imagenes/18485453_1875516402713514_9102556829085325935_n.jpg" alt="" width="239px" height="239px">
            </div>
        </div>
    </div>
    <div class="col-md-6" >
        <div class="card" style="width: 15rem; height: 15rem;">
            <img src="/imagenes/5.1.2.jpg" alt="" width="239px" height="239px">
        </div>
    </div>
</div>
<br>
<div class="row col-md-7">
    <div class="col-md-6">
        <div class="card" style="width: 15rem; height: 15rem;">
            <img src="/imagenes/5.1.22.jpg" alt="" width="239px" height="239px">
        </div>
    </div>
    <div class="col-md-6">
        <div class="card" style="width: 15rem; height: 15rem;">
            <img src="/imagenes/thumb-1920-952227.jpg" alt="" width="239px" height="239px">
        </div>
    </div>
</div>
<br>
<div class="row col-md-6" style="width:25rem; margin-left: auto; margin-right: auto;">
    <a href="/audio">
        <button type="button" class="btn btn-primary" style="font-size: 2rem;">Siguiente</button>
    </a>
</div>
<br>

