<%- include('../includes/header.ejs')%>
<%- include('../includes/navigation2.ejs')%>

<div class="container">
    <div class="row">
        <div class="mx-auto">
            <h1>Prueba el contenido del vaso No.1</h1>            
        </div>
    </div>
</div> <br>
<div class="container">
    <div class="row">
        <div class="mx-auto">
            <a href="/sustancia2">
                <button type="button" class="btn btn-primary" style="font-size: 1.5rem;">Siguiente</button>
            </a>
        </div>
    </div>
</div>
</body>