<%- include('../includes/header.ejs')%>
<%- include('../includes/navigationSection.ejs')%>

<div class="container">
    <div class="row">
        <div class="mx-auto">
            <div class="card">
                <div class="card-body">
                    <h4>Califica del 1 al 10 que tanto te agrado la sustancia</h4> <br>
                    <div class="form-group">
                        <input type="number" class="form-control" id="" placeholder="">
                    </div> <br>
                <div class="row">
                    <div class="mx-auto">
                        <a href="javascript:enlaceAleatorio()">
                            <button type="button" class="btn btn-primary" style="font-size: 1.5rem;">Siguiente</button>
                        </a>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>