<%- include('../includes/header.ejs')%>

<br>
<body onload='javascript:IniciarVideo()'>
    <div class="container">
        <h1>Prueba la muestra No.7</h1>
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <form action="/sustancia8" method="POST">
                        <div class="row">
                            <div class="mx-auto">
                                <video autoplay id='video' style="display: none;"></video>
                                <h4>¿Cuanto te agrado la muestra?</h4> <br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <input type="range" class="form-control-range" name="calificacion" min='1' max="100" id="range">
                            </div>
                            <div class="col-md-2">
                                <h5><span id="demo"></span></h5> 
                            </div>
                            <input type="hidden" value="<%=video%>" class="name" name="id" id="sujeto">
                            <input type="hidden" value=7 class="name" id="muestra">
                            <div class="mx-auto">
                                <button type="submit" class="btn btn-primary" id="boton" style="font-size: 1.5rem;">Siguiente</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/record.js"></script>
    <script src="./js/sliderView.js"></script>
</body>