<%- include('../includes/header.ejs')%>
<%- include('../includes/navigation2.ejs')%>


<div class="col-md-12">
    <h1>Lee el texto</h1>
</div>
<!--Texto-->
<div class="row col-md-7" style="float: left;">
   <div class="card">
    <label style="font-size: 1.5rem">
        telefónica. Me moriría si pensaras eso. Así que
        por favor, créeme si te digo que me sentí fatal
        cuando Michael murió, y que vi a una chica en
        clase, que no se dio cuenta de que yo estaba allí
        delante, y que estuvo hablándole mucho de ti a
        una amiga suya. Y aunque no te conocía, sentí
        como que sí, porque me pareciste una buena
        persona. El tipo de persona a la que no le
        importaría recibir cartas de un chaval de
        instituto. El tipo de persona que comprendería
        que son mejor que un diario porque en ellas
        hay comunión, y un diario puede ser
        descubierto. Pero no quiero que te preocupes
        por mí, o que pienses que me has conocido, ni
        que sigas perdiendo el tiempo. Siento mucho
        haberte hecho perder el tiempo porque la
        verdad es que significas mucho para mí y
        espero que seas muy feliz en la vida porque de
        verdad creo que lo mereces. De verdad lo creo.
        Espero que tú también lo pienses. Bueno, pues
        ya está. Adiós.
    </label>
   </div>
</div>
<!--Chat-->
<div class="row col-md-5">
    <div class="card">
        <div class="card-body">
            <h4>¿Reconoces el texto?</h4> <br>
            <form action="">
                <div class="form-row">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="" value="option1" checked>
                            <label class="form-check-label" for="exampleRadios1">
                                Si
                            </label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="" value="option2">
                            <label class="form-check-label" for="exampleRadios2">
                            No
                            </label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="" value="option2">
                            <label class="form-check-label" for="exampleRadios2">
                            Talvez
                            </label>
                        </div>
                    </div>
                </div> <br>
                <!--2da pregunta-->
                <h4>Describe en 3 palabras el texto</h4> <br>
                <div class="form-group">
                    <input type="" class="form-control" id="" placeholder="">
                </div> <br>
                <!--3da pregunta-->
                <h4>Selecciona alguna caracteristicas del texto</h4> <br>
                <select class="form-control form-control-sm">
                    <option>Opcion 1</option>
                    <option>Opcion 2</option>
                    <option>Opcion 3</option>
                </select> <br>
                <div class="container">
                    <div class="row">
                        <div class="mx-auto">
                            <button type="submit" class="btn btn-primary">Enviar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
<div class="row col-md-6" style="width:50rem; margin-left: auto; margin-right: auto;">
    <a href="javascript:enlaceAleatorio()">
        <button type="button" class="btn btn-primary" style="font-size: 2rem;">Siguiente</button>
    </a>
</div>
</body>
